.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
    background-color: #f3c6bd;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 64px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: #f3c6bd;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  margin-left: auto;
  width: 58px;
  height: 100%;
  background: transparent;
  border: none;
  border-left: 1px solid #00000026;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.logo {
  display: flex;
}
.logo__image {
  margin-right: 13px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
}
.logo__name {
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    line-height: 25px;
    font-size: 18px;
    color: #2b292d;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 75px;
    padding: 0;
  }
}
.navigation__item {
  margin-right: 38px;
  line-height: 25px;
  font-size: 18px;
  text-decoration: none;
  color: #2b292d;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  margin-left: 11px;
  width: 8px;
  height: 5px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
}

.about {
  padding: 40px 15px;
  width: 100%;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  margin: 0;
  line-height: 32px;
  font-weight: 700;
  font-size: 22px;
}
.article__text {
  margin-bottom: 0;
  margin-top: 6px;
  line-height: 32px;
  font-size: 21.5px;
}

.customers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
    width: 1140px;
    align-items: center;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 94px;
  width: 107px;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  max-width: 70%;
  filter: brightness(0);
}

.features {
  position: relative;
  display: flex;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  display: flex;
  width: 1140px;
  margin: auto;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
  color: #009b4d;
}
.features__title {
  margin-bottom: 0;
  margin-top: 24px;
  line-height: 56px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -0.5px;
}
.features__description {
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
}
.features__advantage-header {
  display: flex;
  margin-top: 42px;
  line-height: 42px;
}
.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  line-height: 26px;
  font-weight: 700;
  font-size: 22px;
  color: #3142c6;
}
.features__advantage-description {
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  line-height: 26px;
  font-size: 18px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  margin-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid #2b292d26;
}
.features__advantage-item:last-child {
  margin-bottom: 110px;
}
.features__advantage-item-text {
  margin-left: 15px;
  line-height: 26px;
  font-weight: 700;
  font-size: 22px;
}
.features__left-decoration {
  position: absolute;
  top: 256px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
}
.footer__description {
  display: none;
  margin-top: 26px;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  color: #2b292d;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  margin: 0;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1140px;
    height: 338px;
  }
}

.about-company {
  margin-top: 43px;
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 25px 15px 0 15px;
}
@media screen and (min-width: 1400px) {
  .downloads {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  margin: 0;
  line-height: 28px;
  font-weight: 700;
  font-size: 22px;
  color: #2b292d;
}
.nav-links__list {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  line-height: 30px;
  list-style-type: none;
  font-size: 18px;
  color: #2b292d;
  opacity: 0.6;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    margin: 0 auto;
    width: 1140px;
    height: 50px;
    align-items: center;
  }
}

.terms {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin-top: 0;
    line-height: 50px;
  }
}
.terms__item {
  margin-right: 32px;
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__name {
  margin-top: 20px;
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.logo-vertical__description {
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  color: #2b292d96;
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    width: 1140px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    z-index: 1;
    margin-bottom: 0;
    margin-top: 34px;
    width: 456px;
    height: 102px;
    line-height: 34px;
    font-size: 24px;
  }
}
.headline__title {
  margin: 0;
  line-height: 50px;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    z-index: 1;
    margin: 0;
    width: 754px;
    height: 165px;
    line-height: 78px;
    font-size: 80px;
    letter-spacing: -0.5px;
  }
}
.headline__banner {
  margin-top: 9px;
  margin-bottom: 36px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    margin-left: auto;
    width: 796px;
    height: 448px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 38px;
  }
}
@media screen and (max-width: 1399px) {
  .headline__actions-btn {
    width: 100% !important;
  }
}
.headline__actions-btn:last-child {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__actions-btn:last-child {
    margin-left: 10px;
    margin-top: 0;
  }
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  line-height: 40px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 13px;
  line-height: 34px;
  font-size: 24px;
}
.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 40px;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  margin-top: 20px;
  max-width: 100%;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  color: #2b292d96;
  margin-bottom: 40px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 73px 0 72px 0;
  }
}
.order__img {
  margin: 0 60px;
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__img {
    margin-right: 121px;
    margin-left: 0;
    max-width: 269px;
  }
}
.order__details {
  max-width: 555px;
}
.order__title {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 40px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin-top: 33px;
    margin-bottom: 12px;
    text-align: left;
  }
}
.order__text {
  margin: 0;
  margin-top: 18px;
  line-height: 32px;
  font-size: 22px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  height: 48px;
  width: 100%;
  line-height: 13px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #2b292d32;
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
    flex-grow: 1;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100% !important;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  line-height: 22px;
  font-size: 14px;
  color: #2b292d96;
}
@media screen and (min-width: 1400px) {
  .order__terms {
    margin-top: 10px;
  }
}
.order__link {
  color: #3142c6;
}

.audience {
  padding: 51px 15px;
  background-color: #00a1c612;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .audience__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.audience__subtitle {
  display: block;
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    margin-top: 108px;
    margin-bottom: 0;
  }
}
.audience__title {
  margin-top: 0;
  margin-bottom: 18px;
  line-height: 40px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-top: 24px;
    margin-bottom: 0;
    max-width: 555px;
    line-height: 56px;
    font-size: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__text {
    margin-top: 30px;
    margin-bottom: 0;
    max-width: 555px;
  }
}
@media screen and (max-width: 1399px) {
  .audience__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) {
  .audience__buttons {
    display: flex;
    margin-top: 31px;
  }
}
@media screen and (max-width: 1399px) {
  .audience__button {
    margin-bottom: 12px;
    width: 290px !important;
  }
}
@media screen and (min-width: 1400px) {
  .audience__button:first-child {
    margin-right: 10px;
    flex-shrink: 0;
  }
}
.audience__button:last-child {
  color: #000;
}
@media screen and (min-width: 1400px) {
  .audience__choice {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: 111px auto 110px auto;
  }
}
.audience__visitors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  max-height: 300px;
  max-width: 290px;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #fff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audience__visitors {
    margin-top: 0;
    margin-left: 30px;
    width: 262px;
  }
}
.audience__visitors:first-child {
  margin-top: 28px;
}
@media screen and (min-width: 1400px) {
  .audience__visitors:first-child {
    margin-top: 0;
    width: 262px;
  }
}
.audience__visitors:hover {
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.audience__img {
  margin-top: 22px;
}
.audience__img_first {
  width: 138px;
  height: 195px;
}
.audience__img_second {
  width: 142px;
  height: 195px;
}
.audience__img_third {
  width: 160px;
  height: 195px;
}
.audience__img_fought {
  width: 119px;
  height: 195px;
}
.audience__caption {
  margin-top: 22px;
  margin-bottom: 33px;
  line-height: 28px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #2b292d;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
  }
}

.action-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.action-learn-more-btn {
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #3040c4;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
